a, input, textarea {
  display: block;
}
body{
  align-items: center;
}
textarea {
  border: 0;
  min-height: 50vh;
  outline: 0;
  padding: 0;
  width: 100%;
}
.wallet{
  width: 70%;
  font-size: 1.3rem;
  text-align: center;
  font-weight: bold;
  margin: 1rem 2rem;
  padding: 1rem;
  background: linear-gradient(45deg,rgba(91, 176, 250, 0.737),rgba(245, 36, 36, 0.737));
  border: 2px solid black;
  border-radius: 1rem;
}
.main{
  /* width: 70%; */
  font-size: 1.4rem;
  text-align: center;
  font-weight: bold;
  margin: 2rem 2rem 0.5rem 2rem;
  padding: 1rem;
  background: linear-gradient(225deg,rgba(91, 176, 250, 0.737),rgba(245, 36, 36, 0.737));
  color: white;
  border: 2px solid black;
  border-radius: 1rem;
}
.button{
  margin-top: 2rem;
  font-size: 1.1rem;
  text-align: center;
  font-weight: bold;
  margin: 0.1rem 2rem;
  padding: 1rem;
  color: white;
  background-color: rgb(0, 255, 4);
  border: 2px solid black;
  border-radius: 1rem;
}